<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BlueVoice</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="author" href="humans.txt">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <h1>BlueVoice</h1>
      <nav class="">
          <ul>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
          </ul>
      </nav>
    </header>

    <main>
      {{content}}
    </main>

    <footer>

    </footer>
    <script src="js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>